.mask{
   position: relative;
   overflow: hidden;
   margin: 0px auto;
   width: 100%;
}
.colleft{
   position: relative;
   width: 100%;
   right: 61%;
}
.col1{
   position: relative;
   overflow: hidden;
   float: left;
   width: 59%;
   left: 101%;
}
.col2{
   position: relative;
   overflow: hidden;
   float: left;
   width: 40%;
   left: 3%;
}

