---
title: About
---

<h1>About openSUSE Summit </h1>
<center><img src="/images/summit/summit_logo.png" height="300" width="350px" /> </center>
<p>
2012 marks the first year that we are holding a conference in the Americas region.  The openSUSE Summit aims to bring together the
community to meet face-to-face and collaborate together on the things that matter the most to them within the openSUSE Project.</p>
<p>
Join us for 3 exciting days in Orlando, Florida for presentations, workshops and most importantly, fun and excitement.As a bonus, if 
you register before September 15, you'll have a free admission to SUSECon's final day on Friday, September 21.  SUSECon is the main 
conference of our parent sponsor and is held at the same location as our openSUSE Summit.</p>

<p>Be sure to check our links in the Navigation menu to get more registration and travel information.</p>
