---
title: Acerca de
---

<h1>Acerca de la Summit</h1>
<p>La openSUSE Summit reune a una amplia variedad de contributores del Software Libre a colaborar en el proyecto de realizar una de las distribuciones de Linux mas grandes.
Durante tres excitantes dias de talleres y reuniones sociales, llevamos a la vida el eslogan de openSUSE: "¡Diviertete mucho!"</p>

<p>La Summit toma lugar del 21 al 23 de Septiembre 21-23, luego de la <a href="http://www.suse.com/events/susecon/" target="_blank"> SUSEcon </a> , la conferencia anual de nuestro esponsor principale. 
<a href="/Register" target="_blank">Las personas que se registren antes del </a> 15 de Septiembre, incluyen entrada gratuita al ultimo dia de la SUSECon.</p>

<p>Visita el menú de navegación para aprender mas acerca del evento y de como participar.</p>
<p>
<strong>Código de Conducta</strong>. Es importante para todo el equipo de la openSUSE Summit el crear un ambiente donde todos se sienten aceptados y bienvenidos. Esperamos que todos nuestros visitantes se comporten de acuerdo a nuestro 
<a href="http://en.opensuse.org/openSUSE:Conference_code_of_conduct" target="_blank"> Código de Conducta</a> y tomaremos decisiones activas para evitar cualquier comportamiento inapropiado.</p>

