---
title: About
---

<h1>About The Summit </h1>
<p> Following <a href="http://www.suse.com/events/susecon/"> SUSEcon </a> the first ever openSUSE Summit will take place in the <a href="http://www.thecaribeorlando.com/"> Caribe Royale Hotel </a>, Orlando Florida, September 21-23. </p>

<strong>Why YOU should be there! 
</strong>
<p>
<strong>As one of the largest Linux distributions</strong>, openSUSE has close relationships with projects like GNOME and KDE, the Linux Kernel developers, SAMBA, ownCloud, Apache and many others. It is our job to bring their technologies to users around the globe. So at the Summit you'll find talks about the cutting edge developments in these projects as well as packaging and distribution infrastructure, ARM and mobile devices, rolling releases and much more.</p>
<p>
<strong>openSUSE lives up to its name.</strong> We're a very open community and expect and warmly welcome contributors not only from downstream projects but also other distributions like Fedora and Ubuntu to our Summit to contribute and colaborate on the latest Linux distribution technologies. There will be contributors not just from North America but also Central- and South America. And we don't have committees and steering boards making decisions and letting you contribute - YOU set the direction in openSUSE. This is how you do it!</p>
<p>
<strong>The Summit is about people</strong>. Interesting people from all around the globe, getting together to talk, discuss technology, decide on the future of Free Software - and have a lot of fun. We'll ensure a good balance between work and play with parties and there is even talk of a Cookout Faceoff!</p>

<p>
<strong>Code of Conduct</strong>. It is important for the openSUSE Summit Team to create an environment where everyone feels accepted and welcome. We expect all our visitors to behave according to our <a href-"http://en.opensuse.org/openSUSE:Conference_code_of_conduct"> Code of Conduct</a> and will take decisive action against any inappropriate behavior.</p>