<div class="box box-shadow grid_6 omega">
  <h2 class="box-header">Navegacion</h2>
  <ul>
    <li><%= link_to("Hogar", "/")%></li>
    <li><%= link_to("Call for papers", "/Call-for-papers")%></li>
    <li><%= link_to("Location", "/Location")%></li>
    <li><%= link_to("Media/Press", "/Media-Press")%></li>
    <li><%= link_to("Codigo de conducta", "/es/Codigo-de-conducta")%></li>
    <li><%= link_to("Register", "/Register")%></li>
    <li><%= link_to("Sponsors", "/Sponsors")%></li>
    
  </ul>
</div>

<div class="box box-shadow grid_6 omega">
  <h2 class="box-header"> #ossum12 on Twitter </h2>
<p> 
<div class="tweet"></div> </p>

</div>
