<div class="box box-shadow grid_6 omega">
  <h2 class="box-header">Navigation</h2>
  <ul>
    <li><%= link_to("Home", "/")%></li>
    <li><%= link_to("Speaker", "/Speaker")%></li>
    <li><%= link_to("Location", "/Location")%></li>
    <li><%= link_to("Media/Press", "/Media-Press")%></li>
    <li><%= link_to("Code of conduct", "/Code-of-conduct")%></li>
    <li><%= link_to("Promotion", "/Promotion")%></li>
    <li><%= link_to("Tickets", "/Tickets")%></li>
    <li><%= link_to("Partner", "/Partner")%></li>
    
  </ul>
</div>

<div class="grid_6 box box-shadow omega">
  <h3>Twitter</h3>
<p> 
<div class="tweet"></div> </p>

</div>
