<div class="box box-shadow grid_6 omega">
  <h2 class="box-header">Navigation</h2>
  <ul>
    <li>
      <img src="http://static.opensuse.org/hosts/www.o.o/images/flags/us.png" /> <%= link_to("US", "/")%> /
      <img src="http://static.opensuse.org/hosts/www.o.o/images/flags/es.png" /> <%= link_to("ES", "/es")%>
    </li>
    <li><%= link_to("Home", "/")%></li>
    <li><%= link_to("Register", "/Register")%></li>
    <li><%= link_to("Location", "/Location")%></li>
    <li><%= link_to("Geeko Lounge", "/Geeko-Lounge")%></li>
    <li><%= link_to("Media/Press", "/Media-Press")%></li>
    <li><%= link_to("SUSECon", "/SUSECon")%></li>
    <li><%= link_to("Schedule", "/Schedule")%></li>
    <li><%= link_to("Sessions", "/Sessions")%></li>
    <li><%= link_to("Workshops", "/Workshops")%></li>
    <li><%= link_to("Geeko Nights", "/Geeko-Nights")%></li>
    <li><%= link_to("People", "#")%></li>
    <li><%= link_to("Georg Greve", "/Keynote")%></li>
    <li><%= link_to("Opening Ceremony Hosts", "/Opening-Ceremony")%></li>
    <li><%= link_to("Speakers", "/Speakers")%></li>
    <li><%= link_to("Code of conduct", "/Code-of-conduct")%></li>    

  </ul>
</div>

<div class="box box-shadow grid_6 omega">
  <h2 class="box-header"> #ossum12 on Twitter </h2>
<p> 
<div class="tweet"></div> </p>

</div>
